@media (min-width: 1200px) {
  .container {
    max-width: 75%;
  }
  .content__container {
    max-width: 75%;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 65%;
  }
  .content__container {
    max-width: 65%;
  }
}