* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  background-color: #141414;
  font-family: Roboto, "Times New Roman", Times, serif;
}

.container {
  max-width: 65%;
  margin: 0 auto;
  padding: 2px 0;
}

header {
  background-color: #222222;
  border-bottom: 1px solid #343536;
  color: #818C99;
}
header a {
  padding: 10px 16px 0;
}
header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .logo {
  margin-right: 30px;
  padding-top: 10px;
}
header .logo a {
  padding: 0;
}
header .logo img {
  width: 138px;
}
header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav .nav-menu__search {
  padding: 5px 10px 0;
}
header .nav .nav-menu__search input {
  max-width: 230px;
  height: 32px;
  background-color: #424242;
  border: none;
  border-radius: 8px;
  padding: 0 10px;
  color: #818C99;
}
header .nav .nav-menu__search input:hover {
  background-color: #4b4b4b;
}
header .nav .nav-menu__search img {
  padding: 10px 0;
}
header .nav .nav-menu img {
  max-width: 20px;
}
header .nav .nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav .nav-user #nav-user__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .nav-user #nav-user__btn img:first-child {
  margin-right: 5px;
}
header .nav a:hover {
  background-color: #4b4b4b;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 65%;
  margin: 15px auto;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 169px;
          flex: 0 0 169px;
}
.aside__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12.5px;
  padding: 2px 6px;
  color: #FFF;
}
.aside__cell .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__cell .content h1 {
  text-wrap: nowrap;
  margin-left: 5px;
  font-size: 15px;
  width: 95px;
}
.aside__cell span {
  background-color: #828282;
  margin-left: auto;
  border-radius: 16px;
  padding: 3px 6px;
  line-height: 16px;
}
.aside .aside__cell:hover {
  cursor: pointer;
  background-color: rgba(75, 75, 75, 0.2);
}
.aside__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px;
}
.aside__footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.aside__footer .footer-content p {
  margin-right: 10px;
  font-size: 12px;
  color: #828282;
}
.aside__footer .footer-content p:hover {
  text-decoration: underline;
}
.aside #firstHr {
  width: 70%;
  border: 1px solid #363738;
  margin: 12px 0;
  margin-left: auto;
}
.aside #secondHr {
  width: 96%;
  border: 1px solid #363738;
  margin: 12px 0;
  margin-left: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(207, 217, 233, 0.32);
  border: 1px solid #343536;
  border-radius: 12px;
}
.main .main__header {
  width: 100%;
  background-color: #222222;
  border: 1px solid #343536;
  border-radius: 12px;
}
.main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}
.main__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.main__menu-right .menu-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__menu-right .menu-name__1 {
  height: 26px;
  font-size: 21px;
  font-weight: 600;
  color: #FFF;
}
.main__menu-right .menu-name__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  color: #939393;
  padding: 4px 0;
}
.main__menu-right .menu-name__2 .menu-name__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  margin-right: 15px;
}
.main__menu-right .menu-name__2 .menu-name__content img {
  margin-right: 10px;
}
.main__menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
.main__menu-left .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__menu-left .menu-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__menu-left .menu-btn a:last-child {
  margin-left: 6px;
}