@media (min-width: 768px) {
    .container {
        max-width: 98%;
    }

    .content__container {
        max-width: 98%;
    }

    .main__menu {
        padding: 10px 0;
    }

    .main__menu-right .avatar-container {
        width: 115px;
        margin-right: 0;
    }
    .main__menu-right .avatar-container .menu-avatar img {
        width: 115px;
        height: 115px;
    }

    .main__menu-right .menu-name__2 .menu-name__content {
        margin-right: 7px;
        font-size: 12px;
    }

    .main__menu-left .menu-btn a {
        padding: 8px 8px;
        font-size: 13px;
    }

    .main .head .main__menu-left .menu-btn a {
        padding: 8px 2px;
        text-wrap: wrap;
    }

    .main__2column-right .user-gifts__image a:last-child {
        display: none;
    }

    .main__2column-right .user-gifts__image a:nth-child(3){
        display: none;
    }

    .main__2column-left .user-data__nav a:last-child {
        display: none;
    }
    .main__2column-left .user-data__nav a:nth-child(3){
        display: none;
    }

    .main .head .main__menu-right .menu-name__2 .menu-name__content:nth-child(2) {
        display: none;
    }

    .main .head .main__menu {
        padding: 10px 0;
        justify-content: flex-start;
    }

    .main .head .main__menu-left {
        margin: 0 auto 32px;
    }
}

@media (min-width: 896px) {
    .main__2column-right .user-gifts__image a:nth-child(3){
        display: block;
    }

    .main__2column-left .user-data__nav a:nth-child(3) {
        display: flex;
    }

    .main .head .main__menu-left .menu-btn a {
        padding: 8px 16px;
        text-wrap: nowrap;
    }

    .main .head .main__menu {
        padding: 20px 20px 20px 15px;
        justify-content: space-between;
    }

    .main .head .main__menu-left {
        margin: 0 0 32px 0;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 99%;
    }

    .content__container {
        max-width: 99%;
    }

    .main__menu {
        padding: 20px 20px 20px 10px;
    }

    .main__menu-right .avatar-container {
        width: 140px;
        margin-right: 15px;
    }
    .main__menu-right .avatar-container .menu-avatar img {
        width: 150px;
        height: 150px;
    }

    .main__menu-right .menu-name__2 .menu-name__content {
        margin-right: 15px;
        font-size: 13px;
    }

    .main__menu-left .menu-btn a {
        padding: 8px 16px;
        font-size: 14px;
    }

    .main__2column-left .user-data__nav a:last-child {
        display: flex;
    }
    .main .head .main__menu-right .menu-name__2 .menu-name__content:nth-child(2) {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 92%;
    }

    .content__container {
        max-width: 92%;
    }

    .main__2column-right .user-gifts__image a:last-child {
        display: block;
    }
}

@media (min-width: 1325px) {
    .container {
        max-width: 84%;
    }

    .content__container {
        max-width: 84%;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 80%;
    }

    .content__container {
        max-width: 80%;
    }

    .main__2column-left {flex: 0 1 auto;}
    .main__2column-right {flex: 0 1 auto;}
}

@media (min-width: 1650px) {
    .main__2column-left {flex: 1 1 auto;}
    .main__2column-right {flex: 0 0 360px;}
    .content__container {
        max-width: 68%;
    }
    .container {
        max-width: 68%;
    }
}

@media (min-width: 1920px) {
    .content__container {
        max-width: 60%;
    }
    .container {
        max-width: 60%;
    }
}

@media (min-width: 2148px) {
    .content__container {
        max-width: 55%;
    }
    .container {
        max-width: 55%;
    }
}

@media (min-width: 2348px) {
    .content__container {
        max-width: 50%;
    }
    .container {
        max-width: 50%;
    }
}

@media (min-width: 2548px) {
    .content__container {
        max-width: 45%;
    }
    .container {
        max-width: 45%;
    }
}

@media (min-width: 2748px) {
    .content__container {
        max-width: 41%;
    }
    .container {
        max-width: 41%;
    }
}

@media (min-width: 3072px) {
    .content__container {
        max-width: 37%;
    }
    .container {
        max-width: 37%;
    }
}