$primary-color: #dee0e2;
$secondary-color: #939393;
$colorBg: #222222;
$colorBorder: #343536;
$colorHr: #363738;
$colorText-header: #818C99;
$colorNotification: #828282;
$colorBtnBg: #424242;
$colorBtnActive: #292929;

@font-face {
    font-family: 'VK Sans Display';
    src: url('../font/VK_Sans_Display_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('../font/VKSansDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('../font/VKSansDisplay-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@mixin bgBlock {
    width: 100%;
    background-color: $colorBg;
    border: 1px solid $colorBorder;
    border-radius: 12px;
}

@mixin title {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $primary-color;

    a {
        font-size: 14px;
        color: $primary-color;
        font-weight: 500;
    }
    
    span {
        font-size: 13px;
        color: $colorNotification;
        font-weight: 500;
        margin-left: 6px;
    }
}