@import "nullstyle";

$primary-color: #FFF;
$colorBg: #222222;
$colorBorder: #343536;
$colorHr: #363738;
$colorText-header: #818C99;
$colorNotification: #828282;

html {
    background-color: #141414;
    font-family: Roboto, "Times New Roman", Times, serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2px 0;
}

header {
    background-color: $colorBg;
    border-bottom: 1px solid $colorBorder;
    color: $colorText-header;

    a{padding: 10px 16px 0;}

    .header__inner {
        display: flex;
    }

    .logo {
        margin-right: 30px;
        padding-top: 10px;
        a {padding: 0;}
        img {width: 138px;}
    }

    .nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .nav-menu {
            display: flex;
            &__search {
                padding: 5px 10px 0;
                input {
                    max-width: 230px;
                    height: 32px;
                    background-color: #424242;
                    border: none;
                    border-radius: 8px;
                    padding: 0 10px;
                    color: $colorText-header
                }

                input:hover {
                    background-color: #4b4b4b;
                }

                img{padding: 10px 0;}
            }

            img {max-width: 20px;}
        }

        .nav-user {
            display: flex;
            
            #nav-user__btn {
                display: flex;
                align-items: center;

                img:first-child {
                    margin-right: 5px;
                }
            }
        }

        a:hover {
            background-color: #4b4b4b;
        }
    }
}

.aside {
    display: flex;
    flex-direction: column;
    width: 149px;

    &__cell:first-child {margin-top: 15px;}
    &__cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12.5px;
        padding: 0 6px;
        color: $primary-color;

        .content {
            display: flex;
            align-items: center;

            h1 {
                text-wrap: nowrap;
                margin-right: 20px;
                font-size: 15px;
                width: 115px;
            }
        }
        
        span {
            background-color: $colorNotification;
            margin-left: auto;
            border-radius: 16px;
            padding: 3px 6px;
            line-height: 16px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        width: 149px;
        padding: 0 6px;

        .footer-content {
            display: flex;
            p {
                margin-right: 10px;
                font-size: 12px;
                color: $colorNotification;
            }
        }
    }

    #firstHr {
        width: 120px;
        border: 1px solid $colorHr;
        margin: 6px 0;
        margin-left: auto;
    }

    #secondHr {
        width: 144px;
        border: 1px solid $colorHr;
        margin: 6px 0;
        margin-left: auto;
    }
}