@import "nullstyle";
@import "AdditionalStyle";

html {
    background-color: #141414;
    font-family: Roboto, "Times New Roman", Times, serif;
}

.container {
    max-width: 65%;
    margin: 0 auto;
    padding: 2px 0;
}

header {
    background-color: $colorBg;
    border-bottom: 1px solid $colorBorder;
    color: $colorText-header;

    a{padding: 10px 16px 0;}

    .header__inner {
        display: flex;
    }

    .logo {
        margin-right: 30px;
        padding-top: 10px;
        a {padding: 0;}
        img {width: 138px;}
    }

    .nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .nav-menu {
            display: flex;
            &__search {
                padding: 5px 10px 0;
                input {
                    max-width: 230px;
                    height: 32px;
                    background-color: #424242;
                    border: none;
                    border-radius: 8px;
                    padding: 0 10px;
                    color: $colorText-header
                }

                input:hover {
                    background-color: #4b4b4b;
                }

                img{padding: 10px 0;}
            }

            img {max-width: 20px;}
        }

        .nav-user {
            display: flex;
            
            #nav-user__btn {
                display: flex;
                align-items: center;

                img:first-child {
                    margin-right: 5px;
                }
            }
        }

        a:hover {
            background-color: #4b4b4b;
        }
    }
}

.content__container {
    display: flex;
    max-width: 65%;
    margin: 15px auto;
}

.aside {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 0 0 169px;

    &__cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12.5px;
        padding: 2px 6px;
        color: $primary-color;

        .content {
            display: flex;
            align-items: center;

            h1 {
                text-wrap: nowrap;
                margin-left: 5px;
                font-size: 15px;
                width: 95px;
            }
        }
        
        span {
            background-color: $colorNotification;
            margin-left: auto;
            border-radius: 16px;
            padding: 3px 6px;
            line-height: 16px;
        }
    }

    .aside__cell:hover {
        cursor: pointer;
        background-color: rgba(75, 75, 75, 0.2);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        .footer-content {
            display: flex;
            margin-bottom: 5px;
            p {
                margin-right: 10px;
                font-size: 12px;
                color: $colorNotification;
            }

            p:hover {
                text-decoration: underline;
            }
        }
    }

    #firstHr {
        width: 70%;
        border: 1px solid $colorHr;
        margin: 12px 0;
        margin-left: auto;
    }

    #secondHr {
        width: 96%;
        border: 1px solid $colorHr;
        margin: 12px 0;
        margin-left: auto;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .head {
        display: flex;
        align-items: flex-end;
        height: 339px;
        background-color: rgba(207, 217, 233, .32);
        border: 1px solid $colorBorder;
        border-radius: 12px;

        .main__header {
            @include bgBlock;
            margin-top: 100px;
        }

        .main__menu {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 20px 15px;

            &-right {
                display: flex;
                align-items: center;
                padding: 10px 0;

                .avatar-container {
                    width: 140px;
                    margin-top: -100px;
                    margin-right: 15px;

                    .menu-avatar {
                        img {
                            width: 150px;
                            height: 150px;
                            border: 4px solid $colorBorder;
                            border-radius: 50%;
                        }
                    }
                }
                
                .menu-name {
                    display: flex;
                    flex-direction: column;

                    &__1 {
                        height: 26px;
                        font-size: 21px;
                        font-weight: 600;
                        color: $primary-color
                    }

                    &__2 {
                        display: flex;
                        height: 26px;
                        color: $secondary-color;
                        padding: 4px 0;

                        .menu-name__content {
                            display: flex;
                            align-items: center;
                            font-size: 13px;
                            margin-right: 15px;

                            img {
                                margin-right: 5px;
                                width: 20px;
                            }
                        }
                    }
                }
            }

            &-left {
                display: flex;
                align-items: center;
                margin-bottom: 18px;

                .menu-btn {
                    display: flex;
                    align-items: center;

                    a {
                        display: flex;
                        align-items: center;

                        background-color: #3d3d3d;
                        border: 1px solid #3d3d3d;
                        color: $primary-color;
                        border-radius: 8px;
                        padding: 8px 16px;

                        font-size: 14px;
                        font-weight: 500;
                        text-wrap: nowrap;
                    }

                    a:last-child {
                        margin-left: 6px;
                        img {
                            margin-left: 7px;
                        }
                    }

                    a:hover {
                        background-color: #4b4b4b;
                        border: 1px solid #4b4b4b;
                    }
                }
            }
        }
    }

    &__2column {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;

        &-left {
            display: flex;
            flex-direction: column;
            width: 60%;

            .user-data {
                @include bgBlock;
                min-height: 226px;
                max-height: 450px;
                padding: 8px;

                &__nav {
                    display: flex;
                    justify-content: space-between;
                    height: 44px;

                    a {
                        display: flex;
                        align-items: center;
                        color: $colorNotification;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 2px 8px;
                        margin: 8px 12px 8px 0;

                        img {
                            margin-right: 5px;
                        }
                    }
                }
                
                &__content {
                    display: flex;
                    justify-content: center;
                    padding: 48px 32px;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }
}

@import "adaptive";